* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.hues {
    color: #003366, #3399FF, #FFCC99, #FF9966
}

body {
    background: #4a92da;
    color: white;
    font-size: 62.5%;
}

div#header, div#footer {
    width: auto;
    max-width: 1600px;
    background-color: #003366;
    text-align: center;
    font-size: 150%;
    margin: auto;
}

div#footer {
    position: fixed;
    bottom: 0px;
    width: 100vw;
    max-width: 100vw;
    font-size: 1.2rem;
}

div#board {
    background-color: #F7F6F7;
    border: #33ffb0 5px solid;
    height: 75vw;
    max-height: 300px;
    width: 75vw;
    max-width: 300px;
    padding: 0.5rem;
    margin: 1rem auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 1rem 1rem;
}

div.gamePad {
    display: flex;
    background-color: #33ffb0;
    border: #003366 5px solid;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    font-size: 3rem;
    color: #003366
}

div.gamePad:hover {
    background-color: #003366;
    color: #33ffb0
} 

div#buttons {
    display: flex;
    justify-content: center;
    background-color: #003366;
    max-width: 600px;
    padding: 0.5rem;
    margin: auto;
    border-top: #003366 0.25rem solid;
}

button#reset {
    background-color: white;
    border: black 0.35rem solid;
    color: black;
    border-radius: 1rem;
    font-weight: bold;
}

button#reset:hover {
    background-color:black;
    color: white
}

button {
    margin: 0rem 0.5rem;
    font-size: 1.1rem;
    padding: 0.4rem
}

.informer {
    font-size: 2.2rem;
    text-align: center;
}

div#informers {
   border-top: #003366 0.5rem groove;
   border-bottom: #003366 0.5rem groove;
   max-width: 600px;
   padding: 0.5rem;
   font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
   margin: auto;
   color: black
}

div#counter:hover, div#turn:hover {
    color: white;
}

div#mode {
    text-align: center;
    margin: 1rem auto;
    padding: 1rem;
}

div#mode > button {
    margin: 0.5rem;
}

div#players {
    display: grid;
    height: 30vh;
    grid-template-columns: 50% auto;
    grid-template-rows: 20% auto;
    max-width: 600px;
    margin: auto
}

div#players > p {
    grid-row: 1/2;
    grid-column: span 2;
    display: block;
    margin: auto;
    font-size: 3rem;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
    color: #003366;
    font-weight: bold;
}

div.player {
    grid-row: 2/3;
    background-color: #F7F6F7;
    border: #33ffb0 0.5rem solid;
    border-radius: 1rem;
    max-height: 100%;
    width: 90%;
    margin: auto;
    font-weight: bold;
    color: #003366;
    padding: 0.5rem;
    font-size: 1.5rem;
}

div.player > button {
    padding: 0rem 1rem;
    background-color: #F7F6F7;
    border: #3399FF 5px solid;
    border-radius: 1rem;
}

.username {
    color: #000000;
    font-size: 1.5rem;
}

input[type="text"] {
    height: 2rem;
    padding: 0.25rem;
    width: 75%;
    max-width: 250px;
    font-size: 1.1rem;
    margin: 0.2rem auto;
    border-radius: 1rem;
}

.betterbg1 {
    background: radial-gradient(circle, rgba(51,153,255,1) 18%, rgba(0,51,102,1) 100%);
}

a {
    text-decoration: none;
    color: white;
}

a:hover {
    display: inline-block;
    color: #33ffb0;    
}