* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background: black;
    color: white;
    font-size: 62.5%;
}

p {
    font-size: 3.0rem;
    font-family: monospace;
    width: 100%;
    line-height: 100%;
    text-align: center;
}

div#board {
    background-color: gray;
    border: blue 1px solid;
    height: 75vw;
    max-height: 75vw;
    width: 75vw;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 1rem 1rem;
}

div.gamePad {
    display: flex;
    background-color: cornflowerblue;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

div#buttons {
    display: flex;
    justify-content: center;
    padding: 1rem
}

button {
    margin: 0rem 0.5rem;
    font-size: 1.4rem;
    padding: 0.4rem
}

.informer {
    font-size: 2.2rem;
    text-align: center;
}

div#mode {
    text-align: center;
    margin: 1rem auto;
    padding: 1rem;
}

div#mode > button {
    margin: 0.5rem;
}

div#players {
    display: grid;
    height: 40vh;
    grid-template-columns: 50% auto;
    grid-template-rows: 20% auto;
}

div#players > p {
    grid-row: 1/2;
    grid-column: span 2;
    display: block;
    margin: auto;
    font-size: 2rem;
}

div.player {
    grid-row: 2/3;
}

.username {
    color: red;
    font-size: 1.8rem;
}